.body {
    height: 100vh;
    width: 100vw;
}
.l-half , .r-half {
    height: 100%;
    display: inline-block;
}
.l-half {
    background-image: radial-gradient(circle , var(--blue-variant-grad-1) 2%, var(--stackion-default-blue) );
    width: 35%;
}
.r-half {
    width: calc(100% - 36%);
}
.l-half .cont-for-content {
    height: 95%;
    width: 100%;
    background-image: url("../images/white-dotted-line-for-landing-page.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
}
.logo-in-l-half {
    width: 46%;
    height: 8%;
    align-items: center;
    justify-content: center;
    margin : auto;
    margin-top: 10%;
}
#logo {
    height: 50px;
}
.signup-illustration  {
    width: 80%;

}
.illustration-cont {
    margin: auto;
}